/* Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 124px;
}

.contact-heading {
  font-family: $inter-family;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  width: 327px;
  height: 216px;
  margin-bottom: 72px;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.text-field {
  font-family: $inter-family;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  border-bottom: 1px solid #dbd8d7;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 29px;
  padding-bottom: 11px;
  padding-left: 16px;
  width: 327px;
  height: 48px;

  &:focus {
    border-color: #6b6867;
    outline-style: none;
  }
}

.message-field {
  font-family: $inter-family;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $dark-color;
  background: #fbf8f7;
  border: none;
  margin-bottom: 24px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 327px;
  height: 114px;

  &:focus {
    outline-style: none;
  }
}

.form-control {
  button {
    width: 131px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Contact Section */
  .text-field {
    width: 684px;
    height: 48px;
  }

  .message-field {
    width: 684px;
    height: 114px;
  }

  .contact-heading {
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: #262626;
    width: 626px;
    height: 192px;
    margin-right: 23px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Contact Section */
  .contact-section {
    flex-direction: row;
  }

  .contact-heading {
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: #262626;
    width: 426px;
    height: 292px;
    margin-right: 23px;
  }

  .form-control {
    align-items: flex-start;
  }

  .text-field {
    width: 572px;
  }

  .message-field {
    width: 572px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Contact Section */
  .text-field {
    width: 684px;
  }

  .message-field {
    width: 684px;
  }
}
