/* Hero Section */
.hero-section {
  background-color: $black;
  width: 100%;
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.main-heading {
  font-family: $crete-round-family;
  max-width: 327px;
  max-height: 188px;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: $primary-color;
  margin-left: 20px;
  margin-right: 20px;
}

.supporting-text {
  font-family: $roboto-family;
  max-width: 327px;
  max-height: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-left: 20px;
  margin-right: 20px;
}

.description-text {
  font-family: $poppins-family;
  max-width: 327px;
  max-height: 176px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

.social-media-icons {
  display: flex;
  margin-left: 8px;

  a {
    list-style: none;
    text-decoration: none;
  }

  li {
    list-style: none;

    &:hover {
      transform: rotate(10deg);
    }
  }
}

.hero-github-icon {
  background-image: url("../images/hero-github.svg");
  width: 40px;
  height: 40px;
}

.hero-linkedin-icon {
  background-image: url("../images/hero-linkedin.svg");
  width: 40px;
  height: 40px;
}

.hero-angellist-icon {
  background-image: url("../images/hero-angellist.svg");
  width: 40px;
  height: 40px;
}

.hero-twitter-icon {
  background-image: url("../images/hero-twitter.svg");
  width: 40px;
  height: 40px;
}

.hero-medium-icon {
  background-image: url("../images/hero-medium.svg");
  width: 40px;
  height: 40px;
}

.main-image {
  background-image: url("../images/main-image.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: flex-end;
  width: 108.89px;
  height: 312.03px;
  margin-top: -196px;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Hero Section */
  .hero-section {
    height: 870px;
  }

  .intro-portion {
    display: flex;
    flex-direction: column;
    margin-left: 87px;
    margin-bottom: 42px;
    position: absolute;
  }

  .main-heading {
    max-width: 407px;
    font-size: 72px;
    line-height: 82px;
  }

  .supporting-text {
    max-width: 401px;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-top: 10px;
  }

  .description-text {
    max-width: 523px;
    height: 200px;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-top: 10px;
  }

  .social-media-icons {
    flex-direction: column;
    justify-content: center;
    margin-top: -78px;
    margin-left: 17px;
    height: 342px;
    width: 50px;
    position: absolute;
    z-index: 24;
  }

  .main-image {
    background-image: url("../images/main-image-desktop.png");
    width: 480.81px;
    height: 763.48px;
    z-index: 50;
    top: 257px;
    position: absolute;
  }
}
