// Color Variables
$dark-color: #3c3a39;
$black: #1c1a19;
$primary-color: #ff6b00;
$grey-color: #5b5957;
$blue: #091e42;

// Font Family Variables
$roboto-family: "Roboto", sans-serif;
$crete-round-family: "Crete Round", serif;
$poppins-family: "Poppins", sans-serif;
$inter-family: "Inter", sans-serif;
